#login-form div:first-child{
    width: 75%;
    height: 300px;
    padding: 60px 30px 50px 30px;
    margin: auto;
    border: 1px solid #FEFEFE;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 35px 0 gray;
}

#login-form div:first-child span{
    display: block;
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 40px;
    text-align: center;
    color: #FEFEFE;
}

#login-input{
    border: 1px solid #FEFEFE;
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    padding: 10px;
    width: 90%;
    margin: 30px auto 15px auto;
}

#login-input::placeholder{
    color: #FEFEFE
}

#login-input:focus{
    border: 1px solid #FEFEFE;
    outline: none;
}

#login-input:active{
    border: 1px solid #FEFEFE;
    outline: none;
}

#login-btn{
    display: block;
    width: 30%;
    border: 1px solid rgb(102, 0, 161);
    margin: 45px auto 0px auto;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: rgb(102, 0, 161);
    background-color: rgba(255, 255, 255, 0.1);
}

#login-btn:hover{
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}