#todo-container{
    height: 60vh;
    width: 100%;
    max-width: 300px;

    display: flex;
    flex-direction: column;

    padding: 20px;
    margin: 0 auto;
    
    background-color: #fff;
    
    border-radius: 16px;
    font-size: 15px;
    overflow: hidden;
    color: #455963;
    box-shadow: 0 20px 80px rgba(0,0,0,.3);
}

#todo-form input{
    flex: 1;
    display: block;
    box-sizing: border-box;
    font-size: 22px;
    padding: 10px 0px;
    margin: 0 auto;
    border: 0;
    box-shadow: 0 -1px 0 #e2e4ea inset;
    color: #455963;
}

#todo-form input::placeholder {
    color: #a8b5bb;
  }

#todo-title{
    display: block;
    margin: 0 auto;
    font-size: 26px;
    font-weight: 600;
    padding: 10px 10px 6px 20px;
    box-sizing: border-box;
}

#todo-list{
    overflow: auto;
    list-style:none;
    padding: 0;
}

#todo-list {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
#todo-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#todo-list li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 6px 10px;
    margin: 0;
    border-top: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
}

#todo-list li:hover{
    background-color: rgba(141, 112, 156, 0.1)
}


#todo-list li span{
    margin-right: auto;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

.del_btn{
    padding: 0;
    border: none;
    background: none;
}

.del_btn img{
    width: 18px;
    height: auto;
    
    object-fit: contain;
}